<h1>Welcome#index</h1>

<% if user_signed_in? %>
  <p>You are <%= current_user.name %></p>
  <%= link_to 'Upload files', new_share_file_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>